<h1>List (ListView)</h1>

<ul>
    {% for coctail in coctails_list %}

    <li>

        <h4>{{ coctail.title }}</h4>
            <ul>
                <li>
                    <a href="detail/{{ coctail.id }}">detail </a> 
                </li>
                <li>
                <a href="update/{{ coctail.id }}">update</a>
                </li>
                <li>
                    <a href="delete/{{ coctail.id }}">delete</a>
                </li>
            </ul>
    </li>

    {% endfor %}
</ul>

<ul>
    <li>
        <a href="{% url "coctails:home" %}">link to home.html</a>
    </li>
</ul>