{% extends 'main.html' %}

{% block content %}

<style>
    
.home{
    margin: 10px;
    text-align: center;
}
</style>

<h1>Cocktail name:  {{ coctail.title }}</h1>
<ul>
            
            <li>
               <p>Price: {{ coctail.price }} €</p>
            </li>
            <li>
                <p>Recipe created on {{ coctail.created_date }}</p>
            </li>
            <li>
                {{ coctail.alcohol }}
            </li>
            <li>
                <p>Season: {{ coctail.season }}</p>
            </li>
            <li>
               <p>This type of drink is a {{ coctail.type_of_drink }}.</p> 
            </li>
            <li><p style="width: 400px;">Description: {{ coctail.description }} </p>
            </li>
            
                <img src="{{ coctail.image.url }}">
            
</ul>
  

{% endblock content %}