
{% extends 'main.html' %}

{% block content %}

<style>
  .container1{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  .container2{
    width: 33%;
    height: 130px;
    justify-content: space-between;
   border: 1px black solid;
  }

  h4{
    text-align:center;
  }

.home{
    margin: 10px;
    text-align: center;
}
</style>

<h1>All cocktails</h1>
<div class="container1">
{% for coctail in coctails_list %}

    <div class="container2"> 
    <h4>{{ coctail.title }}</h4>
        <ul>
            <li>
                <a href="detail/{{ coctail.id }}">Cocktail details </a> 
            </li>
            <li>
            <a href="update/{{ coctail.id }}">update cocktail</a>
            </li>
            <li>
                <a href="delete/{{ coctail.id }}">delete cocktail</a>
            </li>
        </ul>
    </div>     
{% endfor %}
</div>

<div class="home">
    <a href="{% url "coctails:home" %}" >Back to Homepage</a>
</div>

{% endblock content %}