{% extends 'main.html' %}
{% block content %}
<style>
    div{
        text-align: left;
        display: flex;
    }
    label{
        margin: 10px;
    }
    input{
        margin: 10px;
        margin-left: 56px;
    }
    #button{
        background: #ede7ca;
        color: black;
        border: none;
        border-radius: 2px;
        padding: 10px 50px;
        font-size: 16px;
        transition: background 0.2s ease;
        cursor: pointer; 
        margin-left: 10px;
    }
    #button:hover{
        background: #8f9119;
    }
    
    .home{
        margin: 10px;
        text-align: center;
    }
</style>

<h1>Add a new cocktail:</h1>

<form method="POST" enctype=multipart/form-data>
    {% csrf_token %}
    {{ form.as_p }} 
    <input id= "button" type="submit" value="Submit">
</form>

<div class="home">
    <a href="{% url "coctails:home" %}" >Back to Homepage</a>
</div>

{% endblock content %}