{% extends 'temp/main.html' %}

    <style>
      body{
        margin: 3%;
      }
      .container {
        display: flex;
        justify-content: space-between;
        height: 20%;
      }
      .image-container {
        width: 30%;
        height: auto;
        border: 1px black;
      }
      img {
        width: 100%;
        height: auto;
      }
    </style>
  
  <body>
    <h1>Choose your Cocktail</h1>
    {% block content %}
    {% for homework in homework_list %}
    <div class="container">
      <div class="image-container">
        
       <li><a href="/homework/{{ homework.id }}"><img src="" alt="image1"> {{ homework.title }}</a> </li>
      <li><a href="">Update Cocktails</a></li>
      </div>
    </div>
    {% endfor %} 
    {% endblock content %}
  </body>
  

